<div class="table-responsive">
    <table mat-table [dataSource]="postsList" class="mat-elevation-z8 table table-striped table-bordered"  >
        <ng-container [matColumnDef]="column"  *ngFor="let column of displayedColumns ;let i=index">
            <th mat-header-cell *matHeaderCellDef>{{ displayedColumnsLabels[i] }} </th>
            <ng-container *ngIf="column =='N°'">
                <td mat-cell *matCellDef="let element; let j = index"> {{j+1}} </td>
            </ng-container>
            <!-- *ngIf="column !='N°'&& column != 'actions"    equal to *ngIf="!['N°','actions'].includes(column)"-->
            <ng-container *ngIf="!['N°','actions'].includes(column)">
                <td mat-cell *matCellDef="let element; let j = index"> {{element[column]}} </td>
            </ng-container>
            <ng-container *ngIf="column==='actions'">
                <td mat-cell *matCellDef="let element;let j=index">
                    <div class="d-flex justify-content-end align-items-center p-1">
                       <button class="btn btn-success btn-sm mr-2" >
                        <!-- (click)="updatePost(element,j,modalAjout)" -->
                            <span class="material-icons text-white">edit</span>
                        </button>
                        <button class="btn btn-danger btn-sm" >
                            <!-- (click)="deletePost(element,deleteModal)" -->
                            <span class="material-icons text-white">delete</span>
                        </button> 
                    </div>
                </td>
            </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
