<div class="pt-4 text-center">
    <span class="material-icons text-danger material-symbols-outlined" style="font-size:50px">cancel</span>
</div>
<div class="modal-body">
    <h3 class="text-center mb-1"> Etes-Vous sûre?</h3>
    <p class="text-center mb-2">Voulez-vous vraiment supprimer 
        <span class="font-weight-bold"> {{title}}</span>?
    </p>
</div>
<div class="modal-fouter d-flex justify-content-center p-2 mb-3">
    <button class="btn btn-outline-secondary mr-2" (click)="close()"> Annuler</button>
    <button class="btn btn-danger" (click)="confirmDelete()"> Supprimer</button>
</div>